/*****************
*** Ivas System 
******************/


.emplyee_info .circle-stats-item {
    text-align: center;
}
.emplyee_info .well {
    margin-top: 30px;
}
.profile_img {
    text-align: center;
}
.profile_img a .fa-wechat {
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 20px;
}
.fixed-chat {
    position: fixed;
    bottom: 0;
    right: 20px;
    margin-bottom: 0;
    z-index: 10;
    width: 300px;
}
.fixed-chat .messages > li > img {
    width: 30px;
    height: 30px;
}
.fixed-chat .messages > li > div {
    margin-left: 50px;
}
.fixed-chat .box-content {
    display: none;
}

body .login {
  background: url(../img/login-background.png);
  width: 100%;
  min-height: 800px;
}

.employee .box > .box-title {
  background-color: #3498db;
  text-shadow: 0 1px 0 #3498db;
}
.employee .messages > li > div {
    margin-left: initial;
}

.circle-stats-item {
  margin: 35px auto;
}

.admin .box > .box-title {
    background-color: #e6e6e6;
    text-shadow: 0 1px 0 #e6e6e6;
}
.admin .box .box-title h3,
.admin .box .box-title .box-tool > a {
    color: #545454;
}
.new_todo, .new_one {
    font-size: 12px;
    padding: 1px 6px;
    background: #3498db;
    box-shadow: 0 0 1px 1px #0e6390;
    margin-left: 5px;
    color: #ffffff;
    transition: .5s;
    cursor: pointer;
}
.new_todo:hover, .new_one:hover {
    color: #3498db;
    margin-bottom: 2px;
}
.messages > li {
    float: none;
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.project-pause .tl-content:after {
    background-color: #3498db;
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.project-pause .tl-title, .project-pause .tl-icon {
    color: #3498db;
}
.admin .dataTables_filter {
    float: right;
}
.box .box-content {
/*    overflow: auto;*/
}
.poject-inf {
    float: none;
}
.new_pro .badge {
    top: -6px;
    position: absolute;
    right: -6px;
}
#upComing .fa-plus {
    height: 34px;
    line-height: 34px;
    font-size: 20px;
}
#upComing .col-lg-5 {
    margin-bottom: 10px;
}
#upComingTask .fa-plus {
    height: 34px;
    line-height: 34px;
    font-size: 20px;
}
#upComingTask .col-lg-10 {
    margin-bottom: 10px;
}
#upComing select {
    box-shadow: none !important;
    background-image: none !important;
    filter: none !important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border-radius: 0!important;
    height: 34px!important;
    line-height: 24px!important;
    padding: 4px 6px!important;
    border-color: #e5e5e5!important;
    margin: 0!important;
    color: #555!important;
    border-radius: 0 !important;
}

.flaty-nav .nav-user-photo {
    width: 30px;
    height: 30px;
}
#btn-scrollup {
    right: initial;
    left: 220px;
}
body {
    width: 100%;
    overflow-x: hidden;
}
.box .box-content {
    overflow: initial !important;
}
.submit-btn {
    text-align: right;
    padding: 20px 20px 0;
    margin-bottom: 0;
    border-top: 1px solid #eee;
}
.finish-task {
    text-align: right;
    margin-bottom: 0;
    padding-top: 10px;
    border-top: 1px solid #eee;
}
.submit_finish_task .finish-task {
    padding-right: 10px;
    padding-left: 10px;
}
.todo-info span {
    font-weight: bold;
    padding-right: 15px;
    color: #666565;
    text-transform: uppercase;
}
.fileupload .img-thumbnail > img {
    border: none;
}
.finishing-tasks {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.finishing-tasks .done-tasks {
    color: #3498db;
}
.finishing-tasks .total-tasks {
    color: #15b74e;
    font-size: 25px;
}
#table1_wrapper .row {margin: 0;}
.task-info-manger {
    height: 675px;
}
.slimScroll-manger select {
    -webkit-appearance: none;
}

@media (max-width: 1199px) and (min-width: 980px) {
    .tile .tile-green .fa-copy {
        font-size: 24px;
        float: left;
    }
    .tile .tile-green .content {
        top: 38px;
    }
    .tile-green .img {
        line-height: 40px !important;
    }
    .tile-green.tile .img > [class*="fa fa-"] {
        font-size: 20px !important;
    }
    .tile-green.tile .content > p.big {
        font-size: 16px;
    }
    .tile-red.tile .img.img-center + p {
        margin-top: 55px;
    }
}




.box-title-pause {
    color: snow;
}
.datepicker{z-index:1151 !important;}
























