body {
    //login page
    .login {
        background: url(../img/login-background.png);
        width: 100%;
        min-height: 800px;
    }
}
.employee {
    .box > .box-title {
        background-color: #3498db;
        text-shadow: 0 1px 0 #3498db;
    }
}
.circle-stats-item {
    margin: 35px auto;
}