/*****************
*** Ivas System 
******************/


.emplyee_info .circle-stats-item {
    text-align: center;
}
.emplyee_info .well {
    margin-top: 30px;
}
.profile_img {
    text-align: center;
}
.profile_img a .fa-wechat {
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 20px;
}
.fixed-chat {
    position: fixed;
    bottom: 0;
    right: 20px;
    margin-bottom: 0;
    z-index: 10;
    width: 300px;
}
.fixed-chat .messages > li > img {
    width: 30px;
    height: 30px;
}
.fixed-chat .messages > li > div {
    margin-left: 50px;
}
.fixed-chat .box-content {
    display: none;
}

body .login {
  background: url(../img/login-background.png);
  width: 100%;
  min-height: 800px;
}

.employee .box > .box-title {
  background-color: #3498db;
  text-shadow: 0 1px 0 #3498db;
}
.employee .messages > li > div {
    margin-left: initial;
}

.circle-stats-item {
  margin: 35px auto;
}

.admin .box > .box-title {
    background-color: #e6e6e6;
    text-shadow: 0 1px 0 #e6e6e6;
}
.admin .box .box-title h3,
.admin .box .box-title .box-tool > a {
    color: #545454;
}
.new_todo, .new_one {
    font-size: 12px;
    padding: 1px 6px;
    background: white;
    box-shadow: 0 0 1px 1px #a4a4a4;
    margin-left: 5px;
    color: #d9534f;
    transition: .5s;
    cursor: pointer;
}
.new_todo:hover, .new_one:hover {
    color: #3498db;
    margin-bottom: 2px;
}
.messages > li {
    float: none;
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.project-pause .tl-content:after {
    background-color: #3498db;
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.project-pause .tl-title, .project-pause .tl-icon {
    color: #3498db;
}
.admin .dataTables_filter {
    float: left;
}
.box .box-content {
/*    overflow: auto;*/
}
.poject-inf {
    float: none;
}
.new_pro .badge {
    top: -6px;
    position: absolute;
    right: -6px;
}
#upComing .fa-plus {
    height: 34px;
    line-height: 34px;
    font-size: 20px;
}
#upComing .col-lg-5 {
    margin-bottom: 10px;
}
#upComingTask .fa-plus {
    height: 34px;
    line-height: 34px;
    font-size: 20px;
}
#upComingTask .col-lg-10 {
    margin-bottom: 10px;
}
#upComing select {
    box-shadow: none !important;
    background-image: none !important;
    filter: none !important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border-radius: 0!important;
    height: 34px!important;
    line-height: 24px!important;
    padding: 4px 6px!important;
    border-color: #e5e5e5!important;
    margin: 0!important;
    color: #555!important;
    border-radius: 0 !important;
}













